.timeline-comment {
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  margin-bottom: 15px;
}

.timeline-comment-header {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #586069;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d1d5da;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.timeline-comment-body {
  padding: 15px;
}

.discussion-header {
  padding: 10px;
}

.discussion-body {
  padding: 10px;
}

.editor_md {
  width: 100%;
  padding: 8px;
  resize: vertical;
  max-height: 500px;
}

.form-actions {
  padding: 0 10px 10px
}

.section_title {
  font-weight: bold;
  font-size: 16px;
}

.section_subtitle {
  font-size: 12px;
}

.badge {
  border-radius: 3px;
  margin-right: 3px;
}

.badge-success {
  background-color: $brand-success
}